@import url(http://fonts.googleapis.com/css?family=Lato:200,300,400);
h1 {
  color: #262626;
  font-size: 36px;
  font-weight: 400; }

h2 {
  color: #8d8d8d;
  font-size: 24px;
  font-weight: 400; }

.bump-icon {
  margin-right: 15px; }

.display-icon {
  font-size: 20pt;
  margin-right: 10px;
  vertical-align: middle; }

.display-icon-container {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  color: #262626; }
  .display-icon-container:hover {
    color: #4ca458;
    cursor: pointer;
    text-decoration: none; }

hr {
  color: #8d8d8d; }

.button-small {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 12pt !important; }

.button-large {
  width: 275px;
  height: 70px; }

.button-green {
  float: left;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  color: #f9f9f9;
  background-color: #4ca458; }
  .button-green:hover {
    text-decoration: none;
    background-color: #3c8145;
    color: #f9f9f9;
    cursor: pointer; }

body {
  background-color: #ecebe7;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container {
  width: 1100px; }

.iPhone {
  width: 339px;
  height: 718px;
  background: url(../img/iPhone.png);
  position: relative; }

#phoneScreen {
  opacity: 0;
  position: relative;
  width: 277px;
  height: 475px;
  background-color: #ecebe7;
  top: 120px;
  left: 28px;
  overflow: scroll; }

.control-switch {
  width: 277px;
  height: 61px;
  background-color: #5b92bb;
  float: left; }
  .control-switch span {
    color: #f9f9f9;
    font-size: 31px;
    float: left;
    width: 48px;
    box-sizing: border-box;
    padding-top: 15px;
    margin-left: 18px;
    margin-right: 0px; }
  .control-switch .control-name {
    float: left;
    font-size: 16px;
    color: #f9f9f9;
    margin-top: 11px;
    margin-bottom: 0px;
    width: 200px; }
  .control-switch .control-description {
    float: left;
    font-size: 12px;
    color: #f9f9f9;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 200px; }
  .control-switch:hover {
    background-color: #4378a0;
    cursor: move; }

.control-accelerometer {
  width: 277px;
  height: 61px;
  background-color: #4ca458;
  float: left; }
  .control-accelerometer span {
    color: #f9f9f9;
    font-size: 31px;
    float: left;
    width: 48px;
    box-sizing: border-box;
    padding-top: 15px;
    margin-left: 18px;
    margin-right: 0px; }
  .control-accelerometer .control-name {
    float: left;
    font-size: 16px;
    color: #f9f9f9;
    margin-top: 11px;
    margin-bottom: 0px;
    width: 200px; }
  .control-accelerometer .control-description {
    float: left;
    font-size: 12px;
    color: #f9f9f9;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 200px; }
  .control-accelerometer:hover {
    background-color: #3c8145;
    cursor: move; }

.control-touchpad {
  width: 277px;
  height: 61px;
  background-color: #e4a013;
  float: left; }
  .control-touchpad span {
    color: #f9f9f9;
    font-size: 31px;
    float: left;
    width: 48px;
    box-sizing: border-box;
    padding-top: 15px;
    margin-left: 18px;
    margin-right: 0px; }
  .control-touchpad .control-name {
    float: left;
    font-size: 16px;
    color: #f9f9f9;
    margin-top: 11px;
    margin-bottom: 0px;
    width: 200px; }
  .control-touchpad .control-description {
    float: left;
    font-size: 12px;
    color: #f9f9f9;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 200px; }
  .control-touchpad:hover {
    background-color: #b57f0f;
    cursor: move; }

.control-button {
  width: 277px;
  height: 61px;
  background-color: #e4701c;
  float: left; }
  .control-button span {
    color: #f9f9f9;
    font-size: 31px;
    float: left;
    width: 48px;
    box-sizing: border-box;
    padding-top: 15px;
    margin-left: 18px;
    margin-right: 0px; }
  .control-button .control-name {
    float: left;
    font-size: 16px;
    color: #f9f9f9;
    margin-top: 11px;
    margin-bottom: 0px;
    width: 200px; }
  .control-button .control-description {
    float: left;
    font-size: 12px;
    color: #f9f9f9;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 200px; }
  .control-button:hover {
    background-color: #b75a16;
    cursor: move; }

h1.landing {
  margin-top: 100px; }

h2.landing {
  margin-top: 50px; }

#get-started {
  margin-top: 60px; }

#dragHere {
  position: relative;
  color: #8d8d8d;
  text-align: center;
  font-size: 18px;
  top: 40%;
  margin: 0; }

#controlBank {
  margin-top: 50px;
  overflow: auto;
  text-align: center; }

#launchDiv {
  clear: both;
  margin-top: 320px; }

.save-button {
  float: right;
  margin-top: 13px; }
