<h2>Drag controls to the phone to add them.</h2>
<h2>Click controls you've added to customize them.</h2>
<div id="controlBank">
	<div class="control control-switch">
		<span class="icon-off"></span>
		<p class="control-name">The Switch</p>
		<p class="control-description">Turn things on and off.</p>
	</div>
	<div class="control control-accelerometer">
		<span class="icon-refresh"></span>
		<p class="control-name">The Accelerometer</p>
		<p class="control-description">Know which way is up.</p>
	</div>
	<div class="control control-touchpad">
		<span class="icon-music"></span>
		<p class="control-name">The Touchpad</p>
		<p class="control-description">Drag to control.</p>
	</div>
	<div class="control control-button">
		<span class="icon-eye-open"></span>
		<p class="control-name">The Button</p>
		<p class="control-description">Push it real good.</p>
	</div>
</div>
<div id="launchDiv">
	<hr>
	<h2 class="pull-left">Next: Connect your Electric Imp</h2>
	<a id="impSetup" class="button-green button-small save-button">Save and Continue</a>
	<!-- <h2>Give your controller a URL:</h2> -->
	<!-- <a class="button-green">Save and Continue</a> -->
</div>