<div class="row">
	<div class="span8">
		<h1 class="pull-left"><span class="{{icon}} bump-icon"> </span> <span id="name-display">{{name-display}}</span></h1>
		<a id="saveReturn" class="button-green button-small save-button">Save and Return</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="span8">
		<div>
			<p>Give this {{type}} a short name:</p>
			<input type="text" id="input-name" placeholder="{{name-display}}">
		</div>
		<div>
			<p>And a short description:</p>
			<input type="text" id="input-description" placeholder="{{description}}">
		</div>
		<div>
			<p>Choose what data you'd like your imp to receive:</p>
			(placeholder)
		</div>
		<div>
			<h2>Choose a different icon:</h2>
<a class="display-icon-container"><span class="display-icon icon-flag" data-icon-name="icon-flag"></span></a>
<a class="display-icon-container"><span class="display-icon icon-caret-down" data-icon-name="icon-caret-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-flag" data-icon-name="icon-flag"></span></a>
<a class="display-icon-container"><span class="display-icon icon-shield" data-icon-name="icon-shield"></span></a>
<a class="display-icon-container"><span class="display-icon icon-camera-retro" data-icon-name="icon-camera-retro"></span></a>
<a class="display-icon-container"><span class="display-icon icon-file-alt" data-icon-name="icon-file-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-hand-right" data-icon-name="icon-hand-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-play-sign" data-icon-name="icon-play-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-github" data-icon-name="icon-github"></span></a>
<a class="display-icon-container"><span class="display-icon icon-medkit" data-icon-name="icon-medkit"></span></a>
<a class="display-icon-container"><span class="display-icon icon-caret-down" data-icon-name="icon-caret-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-envelope" data-icon-name="icon-envelope"></span></a>
<a class="display-icon-container"><span class="display-icon icon-flag icon-large" data-icon-name="icon-flag icon-large"></span></a>
<a class="display-icon-container"><span class="display-icon icon-expand-alt" data-icon-name="icon-expand-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-collapse-alt" data-icon-name="icon-collapse-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-smile" data-icon-name="icon-smile"></span></a>
<a class="display-icon-container"><span class="display-icon icon-frown" data-icon-name="icon-frown"></span></a>
<a class="display-icon-container"><span class="display-icon icon-meh" data-icon-name="icon-meh"></span></a>
<a class="display-icon-container"><span class="display-icon icon-gamepad" data-icon-name="icon-gamepad"></span></a>
<a class="display-icon-container"><span class="display-icon icon-keyboard" data-icon-name="icon-keyboard"></span></a>
<a class="display-icon-container"><span class="display-icon icon-flag-alt" data-icon-name="icon-flag-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-flag-checkered" data-icon-name="icon-flag-checkered"></span></a>
<a class="display-icon-container"><span class="display-icon icon-terminal" data-icon-name="icon-terminal"></span></a>
<a class="display-icon-container"><span class="display-icon icon-code" data-icon-name="icon-code"></span></a>
<a class="display-icon-container"><span class="display-icon icon-mail-forward" data-icon-name="icon-mail-forward"></span></a>
<a class="display-icon-container"><span class="display-icon icon-mail-reply" data-icon-name="icon-mail-reply"></span></a>
<a class="display-icon-container"><span class="display-icon icon-reply-all" data-icon-name="icon-reply-all"></span></a>
<a class="display-icon-container"><span class="display-icon icon-mail-reply-all" data-icon-name="icon-mail-reply-all"></span></a>
<a class="display-icon-container"><span class="display-icon icon-star-half-empty" data-icon-name="icon-star-half-empty"></span></a>
<a class="display-icon-container"><span class="display-icon icon-star-half-full" data-icon-name="icon-star-half-full"></span></a>
<a class="display-icon-container"><span class="display-icon icon-location-arrow" data-icon-name="icon-location-arrow"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rotate-left" data-icon-name="icon-rotate-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rotate-right" data-icon-name="icon-rotate-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-crop" data-icon-name="icon-crop"></span></a>
<a class="display-icon-container"><span class="display-icon icon-code-fork" data-icon-name="icon-code-fork"></span></a>
<a class="display-icon-container"><span class="display-icon icon-unlink" data-icon-name="icon-unlink"></span></a>
<a class="display-icon-container"><span class="display-icon icon-question" data-icon-name="icon-question"></span></a>
<a class="display-icon-container"><span class="display-icon icon-info" data-icon-name="icon-info"></span></a>
<a class="display-icon-container"><span class="display-icon icon-exclamation" data-icon-name="icon-exclamation"></span></a>
<a class="display-icon-container"><span class="display-icon icon-superscript" data-icon-name="icon-superscript"></span></a>
<a class="display-icon-container"><span class="display-icon icon-subscript" data-icon-name="icon-subscript"></span></a>
<a class="display-icon-container"><span class="display-icon icon-eraser" data-icon-name="icon-eraser"></span></a>
<a class="display-icon-container"><span class="display-icon icon-puzzle-piece" data-icon-name="icon-puzzle-piece"></span></a>
<a class="display-icon-container"><span class="display-icon icon-microphone" data-icon-name="icon-microphone"></span></a>
<a class="display-icon-container"><span class="display-icon icon-microphone-off" data-icon-name="icon-microphone-off"></span></a>
<a class="display-icon-container"><span class="display-icon icon-shield" data-icon-name="icon-shield"></span></a>
<a class="display-icon-container"><span class="display-icon icon-calendar-empty" data-icon-name="icon-calendar-empty"></span></a>
<a class="display-icon-container"><span class="display-icon icon-fire-extinguisher" data-icon-name="icon-fire-extinguisher"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rocket" data-icon-name="icon-rocket"></span></a>
<a class="display-icon-container"><span class="display-icon icon-maxcdn" data-icon-name="icon-maxcdn"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-sign-left" data-icon-name="icon-chevron-sign-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-sign-right" data-icon-name="icon-chevron-sign-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-sign-up" data-icon-name="icon-chevron-sign-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-sign-down" data-icon-name="icon-chevron-sign-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-html5" data-icon-name="icon-html5"></span></a>
<a class="display-icon-container"><span class="display-icon icon-css3" data-icon-name="icon-css3"></span></a>
<a class="display-icon-container"><span class="display-icon icon-anchor" data-icon-name="icon-anchor"></span></a>
<a class="display-icon-container"><span class="display-icon icon-unlock-alt" data-icon-name="icon-unlock-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bullseye" data-icon-name="icon-bullseye"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ellipsis-horizontal" data-icon-name="icon-ellipsis-horizontal"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ellipsis-vertical" data-icon-name="icon-ellipsis-vertical"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rss-sign" data-icon-name="icon-rss-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-play-sign" data-icon-name="icon-play-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ticket" data-icon-name="icon-ticket"></span></a>
<a class="display-icon-container"><span class="display-icon icon-minus-sign-alt" data-icon-name="icon-minus-sign-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-check-minus" data-icon-name="icon-check-minus"></span></a>
<a class="display-icon-container"><span class="display-icon icon-level-up" data-icon-name="icon-level-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-level-down" data-icon-name="icon-level-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-check-sign" data-icon-name="icon-check-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-edit-sign" data-icon-name="icon-edit-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-external-link-sign" data-icon-name="icon-external-link-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-share-sign" data-icon-name="icon-share-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-adjust" data-icon-name="icon-adjust"></span></a>
<a class="display-icon-container"><span class="display-icon icon-anchor" data-icon-name="icon-anchor"></span></a>
<a class="display-icon-container"><span class="display-icon icon-asterisk" data-icon-name="icon-asterisk"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ban-circle" data-icon-name="icon-ban-circle"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bar-chart" data-icon-name="icon-bar-chart"></span></a>
<a class="display-icon-container"><span class="display-icon icon-barcode" data-icon-name="icon-barcode"></span></a>
<a class="display-icon-container"><span class="display-icon icon-beaker" data-icon-name="icon-beaker"></span></a>
<a class="display-icon-container"><span class="display-icon icon-beer" data-icon-name="icon-beer"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bell-alt" data-icon-name="icon-bell-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bell" data-icon-name="icon-bell"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bolt" data-icon-name="icon-bolt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-book" data-icon-name="icon-book"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bookmark-empty" data-icon-name="icon-bookmark-empty"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bookmark" data-icon-name="icon-bookmark"></span></a>
<a class="display-icon-container"><span class="display-icon icon-briefcase" data-icon-name="icon-briefcase"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bullhorn" data-icon-name="icon-bullhorn"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bullseye" data-icon-name="icon-bullseye"></span></a>
<a class="display-icon-container"><span class="display-icon icon-calendar-empty" data-icon-name="icon-calendar-empty"></span></a>
<a class="display-icon-container"><span class="display-icon icon-calendar" data-icon-name="icon-calendar"></span></a>
<a class="display-icon-container"><span class="display-icon icon-camera-retro" data-icon-name="icon-camera-retro"></span></a>
<a class="display-icon-container"><span class="display-icon icon-camera" data-icon-name="icon-camera"></span></a>
<a class="display-icon-container"><span class="display-icon icon-certificate" data-icon-name="icon-certificate"></span></a>
<a class="display-icon-container"><span class="display-icon icon-check-empty" data-icon-name="icon-check-empty"></span></a>
<a class="display-icon-container"><span class="display-icon icon-check-minus" data-icon-name="icon-check-minus"></span></a>
<a class="display-icon-container"><span class="display-icon icon-check-sign" data-icon-name="icon-check-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-check" data-icon-name="icon-check"></span></a>
<a class="display-icon-container"><span class="display-icon icon-circle-blank" data-icon-name="icon-circle-blank"></span></a>
<a class="display-icon-container"><span class="display-icon icon-circle" data-icon-name="icon-circle"></span></a>
<a class="display-icon-container"><span class="display-icon icon-cloud-download" data-icon-name="icon-cloud-download"></span></a>
<a class="display-icon-container"><span class="display-icon icon-cloud-upload" data-icon-name="icon-cloud-upload"></span></a>
<a class="display-icon-container"><span class="display-icon icon-cloud" data-icon-name="icon-cloud"></span></a>
<a class="display-icon-container"><span class="display-icon icon-code-fork" data-icon-name="icon-code-fork"></span></a>
<a class="display-icon-container"><span class="display-icon icon-code" data-icon-name="icon-code"></span></a>
<a class="display-icon-container"><span class="display-icon icon-coffee" data-icon-name="icon-coffee"></span></a>
<a class="display-icon-container"><span class="display-icon icon-cog" data-icon-name="icon-cog"></span></a>
<a class="display-icon-container"><span class="display-icon icon-cogs" data-icon-name="icon-cogs"></span></a>
<a class="display-icon-container"><span class="display-icon icon-collapse-alt" data-icon-name="icon-collapse-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-comment-alt" data-icon-name="icon-comment-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-comment" data-icon-name="icon-comment"></span></a>
<a class="display-icon-container"><span class="display-icon icon-comments-alt" data-icon-name="icon-comments-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-comments" data-icon-name="icon-comments"></span></a>
<a class="display-icon-container"><span class="display-icon icon-credit-card" data-icon-name="icon-credit-card"></span></a>
<a class="display-icon-container"><span class="display-icon icon-crop" data-icon-name="icon-crop"></span></a>
<a class="display-icon-container"><span class="display-icon icon-dashboard" data-icon-name="icon-dashboard"></span></a>
<a class="display-icon-container"><span class="display-icon icon-desktop" data-icon-name="icon-desktop"></span></a>
<a class="display-icon-container"><span class="display-icon icon-download-alt" data-icon-name="icon-download-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-download" data-icon-name="icon-download"></span></a>
<a class="display-icon-container"><span class="display-icon icon-edit-sign" data-icon-name="icon-edit-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-edit" data-icon-name="icon-edit"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ellipsis-horizontal" data-icon-name="icon-ellipsis-horizontal"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ellipsis-vertical" data-icon-name="icon-ellipsis-vertical"></span></a>
<a class="display-icon-container"><span class="display-icon icon-envelope-alt" data-icon-name="icon-envelope-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-envelope" data-icon-name="icon-envelope"></span></a>
<a class="display-icon-container"><span class="display-icon icon-eraser" data-icon-name="icon-eraser"></span></a>
<a class="display-icon-container"><span class="display-icon icon-exchange" data-icon-name="icon-exchange"></span></a>
<a class="display-icon-container"><span class="display-icon icon-exclamation-sign" data-icon-name="icon-exclamation-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-exclamation" data-icon-name="icon-exclamation"></span></a>
<a class="display-icon-container"><span class="display-icon icon-expand-alt" data-icon-name="icon-expand-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-external-link-sign" data-icon-name="icon-external-link-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-external-link" data-icon-name="icon-external-link"></span></a>
<a class="display-icon-container"><span class="display-icon icon-eye-close" data-icon-name="icon-eye-close"></span></a>
<a class="display-icon-container"><span class="display-icon icon-eye-open" data-icon-name="icon-eye-open"></span></a>
<a class="display-icon-container"><span class="display-icon icon-facetime-video" data-icon-name="icon-facetime-video"></span></a>
<a class="display-icon-container"><span class="display-icon icon-fighter-jet" data-icon-name="icon-fighter-jet"></span></a>
<a class="display-icon-container"><span class="display-icon icon-film" data-icon-name="icon-film"></span></a>
<a class="display-icon-container"><span class="display-icon icon-filter" data-icon-name="icon-filter"></span></a>
<a class="display-icon-container"><span class="display-icon icon-fire-extinguisher" data-icon-name="icon-fire-extinguisher"></span></a>
<a class="display-icon-container"><span class="display-icon icon-fire" data-icon-name="icon-fire"></span></a>
<a class="display-icon-container"><span class="display-icon icon-flag-alt" data-icon-name="icon-flag-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-flag-checkered" data-icon-name="icon-flag-checkered"></span></a>
<a class="display-icon-container"><span class="display-icon icon-flag" data-icon-name="icon-flag"></span></a>
<a class="display-icon-container"><span class="display-icon icon-folder-close-alt" data-icon-name="icon-folder-close-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-folder-close" data-icon-name="icon-folder-close"></span></a>
<a class="display-icon-container"><span class="display-icon icon-folder-open-alt" data-icon-name="icon-folder-open-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-folder-open" data-icon-name="icon-folder-open"></span></a>
<a class="display-icon-container"><span class="display-icon icon-food" data-icon-name="icon-food"></span></a>
<a class="display-icon-container"><span class="display-icon icon-frown" data-icon-name="icon-frown"></span></a>
<a class="display-icon-container"><span class="display-icon icon-gamepad" data-icon-name="icon-gamepad"></span></a>
<a class="display-icon-container"><span class="display-icon icon-gift" data-icon-name="icon-gift"></span></a>
<a class="display-icon-container"><span class="display-icon icon-glass" data-icon-name="icon-glass"></span></a>
<a class="display-icon-container"><span class="display-icon icon-globe" data-icon-name="icon-globe"></span></a>
<a class="display-icon-container"><span class="display-icon icon-group" data-icon-name="icon-group"></span></a>
<a class="display-icon-container"><span class="display-icon icon-hdd" data-icon-name="icon-hdd"></span></a>
<a class="display-icon-container"><span class="display-icon icon-headphones" data-icon-name="icon-headphones"></span></a>
<a class="display-icon-container"><span class="display-icon icon-heart-empty" data-icon-name="icon-heart-empty"></span></a>
<a class="display-icon-container"><span class="display-icon icon-heart" data-icon-name="icon-heart"></span></a>
<a class="display-icon-container"><span class="display-icon icon-home" data-icon-name="icon-home"></span></a>
<a class="display-icon-container"><span class="display-icon icon-inbox" data-icon-name="icon-inbox"></span></a>
<a class="display-icon-container"><span class="display-icon icon-info-sign" data-icon-name="icon-info-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-info" data-icon-name="icon-info"></span></a>
<a class="display-icon-container"><span class="display-icon icon-key" data-icon-name="icon-key"></span></a>
<a class="display-icon-container"><span class="display-icon icon-keyboard" data-icon-name="icon-keyboard"></span></a>
<a class="display-icon-container"><span class="display-icon icon-laptop" data-icon-name="icon-laptop"></span></a>
<a class="display-icon-container"><span class="display-icon icon-leaf" data-icon-name="icon-leaf"></span></a>
<a class="display-icon-container"><span class="display-icon icon-legal" data-icon-name="icon-legal"></span></a>
<a class="display-icon-container"><span class="display-icon icon-lemon" data-icon-name="icon-lemon"></span></a>
<a class="display-icon-container"><span class="display-icon icon-level-down" data-icon-name="icon-level-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-level-up" data-icon-name="icon-level-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-lightbulb" data-icon-name="icon-lightbulb"></span></a>
<a class="display-icon-container"><span class="display-icon icon-location-arrow" data-icon-name="icon-location-arrow"></span></a>
<a class="display-icon-container"><span class="display-icon icon-lock" data-icon-name="icon-lock"></span></a>
<a class="display-icon-container"><span class="display-icon icon-magic" data-icon-name="icon-magic"></span></a>
<a class="display-icon-container"><span class="display-icon icon-magnet" data-icon-name="icon-magnet"></span></a>
<a class="display-icon-container"><span class="display-icon icon-mail-forward" data-icon-name="icon-mail-forward"></span></a>
<a class="display-icon-container"><span class="display-icon icon-mail-reply" data-icon-name="icon-mail-reply"></span></a>
<a class="display-icon-container"><span class="display-icon icon-mail-reply-all" data-icon-name="icon-mail-reply-all"></span></a>
<a class="display-icon-container"><span class="display-icon icon-map-marker" data-icon-name="icon-map-marker"></span></a>
<a class="display-icon-container"><span class="display-icon icon-meh" data-icon-name="icon-meh"></span></a>
<a class="display-icon-container"><span class="display-icon icon-microphone-off" data-icon-name="icon-microphone-off"></span></a>
<a class="display-icon-container"><span class="display-icon icon-microphone" data-icon-name="icon-microphone"></span></a>
<a class="display-icon-container"><span class="display-icon icon-minus-sign-alt" data-icon-name="icon-minus-sign-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-minus-sign" data-icon-name="icon-minus-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-minus" data-icon-name="icon-minus"></span></a>
<a class="display-icon-container"><span class="display-icon icon-mobile-phone" data-icon-name="icon-mobile-phone"></span></a>
<a class="display-icon-container"><span class="display-icon icon-money" data-icon-name="icon-money"></span></a>
<a class="display-icon-container"><span class="display-icon icon-move" data-icon-name="icon-move"></span></a>
<a class="display-icon-container"><span class="display-icon icon-music" data-icon-name="icon-music"></span></a>
<a class="display-icon-container"><span class="display-icon icon-off" data-icon-name="icon-off"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ok-circle" data-icon-name="icon-ok-circle"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ok-sign" data-icon-name="icon-ok-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ok" data-icon-name="icon-ok"></span></a>
<a class="display-icon-container"><span class="display-icon icon-pencil" data-icon-name="icon-pencil"></span></a>
<a class="display-icon-container"><span class="display-icon icon-phone-sign" data-icon-name="icon-phone-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-phone" data-icon-name="icon-phone"></span></a>
<a class="display-icon-container"><span class="display-icon icon-picture" data-icon-name="icon-picture"></span></a>
<a class="display-icon-container"><span class="display-icon icon-plane" data-icon-name="icon-plane"></span></a>
<a class="display-icon-container"><span class="display-icon icon-plus-sign" data-icon-name="icon-plus-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-plus" data-icon-name="icon-plus"></span></a>
<a class="display-icon-container"><span class="display-icon icon-print" data-icon-name="icon-print"></span></a>
<a class="display-icon-container"><span class="display-icon icon-pushpin" data-icon-name="icon-pushpin"></span></a>
<a class="display-icon-container"><span class="display-icon icon-puzzle-piece" data-icon-name="icon-puzzle-piece"></span></a>
<a class="display-icon-container"><span class="display-icon icon-qrcode" data-icon-name="icon-qrcode"></span></a>
<a class="display-icon-container"><span class="display-icon icon-question-sign" data-icon-name="icon-question-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-question" data-icon-name="icon-question"></span></a>
<a class="display-icon-container"><span class="display-icon icon-quote-left" data-icon-name="icon-quote-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-quote-right" data-icon-name="icon-quote-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-random" data-icon-name="icon-random"></span></a>
<a class="display-icon-container"><span class="display-icon icon-refresh" data-icon-name="icon-refresh"></span></a>
<a class="display-icon-container"><span class="display-icon icon-remove-circle" data-icon-name="icon-remove-circle"></span></a>
<a class="display-icon-container"><span class="display-icon icon-remove-sign" data-icon-name="icon-remove-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-remove" data-icon-name="icon-remove"></span></a>
<a class="display-icon-container"><span class="display-icon icon-reorder" data-icon-name="icon-reorder"></span></a>
<a class="display-icon-container"><span class="display-icon icon-reply-all" data-icon-name="icon-reply-all"></span></a>
<a class="display-icon-container"><span class="display-icon icon-reply" data-icon-name="icon-reply"></span></a>
<a class="display-icon-container"><span class="display-icon icon-resize-horizontal" data-icon-name="icon-resize-horizontal"></span></a>
<a class="display-icon-container"><span class="display-icon icon-resize-vertical" data-icon-name="icon-resize-vertical"></span></a>
<a class="display-icon-container"><span class="display-icon icon-retweet" data-icon-name="icon-retweet"></span></a>
<a class="display-icon-container"><span class="display-icon icon-road" data-icon-name="icon-road"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rocket" data-icon-name="icon-rocket"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rotate-left" data-icon-name="icon-rotate-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rotate-right" data-icon-name="icon-rotate-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rss-sign" data-icon-name="icon-rss-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-rss" data-icon-name="icon-rss"></span></a>
<a class="display-icon-container"><span class="display-icon icon-screenshot" data-icon-name="icon-screenshot"></span></a>
<a class="display-icon-container"><span class="display-icon icon-search" data-icon-name="icon-search"></span></a>
<a class="display-icon-container"><span class="display-icon icon-share-alt" data-icon-name="icon-share-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-share-sign" data-icon-name="icon-share-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-share" data-icon-name="icon-share"></span></a>
<a class="display-icon-container"><span class="display-icon icon-shield" data-icon-name="icon-shield"></span></a>
<a class="display-icon-container"><span class="display-icon icon-shopping-cart" data-icon-name="icon-shopping-cart"></span></a>
<a class="display-icon-container"><span class="display-icon icon-sign-blank" data-icon-name="icon-sign-blank"></span></a>
<a class="display-icon-container"><span class="display-icon icon-signal" data-icon-name="icon-signal"></span></a>
<a class="display-icon-container"><span class="display-icon icon-signin" data-icon-name="icon-signin"></span></a>
<a class="display-icon-container"><span class="display-icon icon-signout" data-icon-name="icon-signout"></span></a>
<a class="display-icon-container"><span class="display-icon icon-sitemap" data-icon-name="icon-sitemap"></span></a>
<a class="display-icon-container"><span class="display-icon icon-smile" data-icon-name="icon-smile"></span></a>
<a class="display-icon-container"><span class="display-icon icon-sort-down" data-icon-name="icon-sort-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-sort-up" data-icon-name="icon-sort-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-sort" data-icon-name="icon-sort"></span></a>
<a class="display-icon-container"><span class="display-icon icon-spinner" data-icon-name="icon-spinner"></span></a>
<a class="display-icon-container"><span class="display-icon icon-star-empty" data-icon-name="icon-star-empty"></span></a>
<a class="display-icon-container"><span class="display-icon icon-star-half-full" data-icon-name="icon-star-half-full"></span></a>
<a class="display-icon-container"><span class="display-icon icon-star-half-empty" data-icon-name="icon-star-half-empty"></span></a>
<a class="display-icon-container"><span class="display-icon icon-star-half" data-icon-name="icon-star-half"></span></a>
<a class="display-icon-container"><span class="display-icon icon-star" data-icon-name="icon-star"></span></a>
<a class="display-icon-container"><span class="display-icon icon-tablet" data-icon-name="icon-tablet"></span></a>
<a class="display-icon-container"><span class="display-icon icon-tag" data-icon-name="icon-tag"></span></a>
<a class="display-icon-container"><span class="display-icon icon-tags" data-icon-name="icon-tags"></span></a>
<a class="display-icon-container"><span class="display-icon icon-tasks" data-icon-name="icon-tasks"></span></a>
<a class="display-icon-container"><span class="display-icon icon-terminal" data-icon-name="icon-terminal"></span></a>
<a class="display-icon-container"><span class="display-icon icon-thumbs-down" data-icon-name="icon-thumbs-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-thumbs-up" data-icon-name="icon-thumbs-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ticket" data-icon-name="icon-ticket"></span></a>
<a class="display-icon-container"><span class="display-icon icon-time" data-icon-name="icon-time"></span></a>
<a class="display-icon-container"><span class="display-icon icon-tint" data-icon-name="icon-tint"></span></a>
<a class="display-icon-container"><span class="display-icon icon-trash" data-icon-name="icon-trash"></span></a>
<a class="display-icon-container"><span class="display-icon icon-trophy" data-icon-name="icon-trophy"></span></a>
<a class="display-icon-container"><span class="display-icon icon-truck" data-icon-name="icon-truck"></span></a>
<a class="display-icon-container"><span class="display-icon icon-umbrella" data-icon-name="icon-umbrella"></span></a>
<a class="display-icon-container"><span class="display-icon icon-unlock-alt" data-icon-name="icon-unlock-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-unlock" data-icon-name="icon-unlock"></span></a>
<a class="display-icon-container"><span class="display-icon icon-upload-alt" data-icon-name="icon-upload-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-upload" data-icon-name="icon-upload"></span></a>
<a class="display-icon-container"><span class="display-icon icon-user-md" data-icon-name="icon-user-md"></span></a>
<a class="display-icon-container"><span class="display-icon icon-user" data-icon-name="icon-user"></span></a>
<a class="display-icon-container"><span class="display-icon icon-volume-down" data-icon-name="icon-volume-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-volume-off" data-icon-name="icon-volume-off"></span></a>
<a class="display-icon-container"><span class="display-icon icon-volume-up" data-icon-name="icon-volume-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-warning-sign" data-icon-name="icon-warning-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-wrench" data-icon-name="icon-wrench"></span></a>
<a class="display-icon-container"><span class="display-icon icon-zoom-in" data-icon-name="icon-zoom-in"></span></a>
<a class="display-icon-container"><span class="display-icon icon-zoom-out" data-icon-name="icon-zoom-out"></span></a>
<a class="display-icon-container"><span class="display-icon icon-file" data-icon-name="icon-file"></span></a>
<a class="display-icon-container"><span class="display-icon icon-file-alt" data-icon-name="icon-file-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-cut" data-icon-name="icon-cut"></span></a>
<a class="display-icon-container"><span class="display-icon icon-copy" data-icon-name="icon-copy"></span></a>
<a class="display-icon-container"><span class="display-icon icon-paste" data-icon-name="icon-paste"></span></a>
<a class="display-icon-container"><span class="display-icon icon-save" data-icon-name="icon-save"></span></a>
<a class="display-icon-container"><span class="display-icon icon-undo" data-icon-name="icon-undo"></span></a>
<a class="display-icon-container"><span class="display-icon icon-repeat" data-icon-name="icon-repeat"></span></a>
<a class="display-icon-container"><span class="display-icon icon-text-height" data-icon-name="icon-text-height"></span></a>
<a class="display-icon-container"><span class="display-icon icon-text-width" data-icon-name="icon-text-width"></span></a>
<a class="display-icon-container"><span class="display-icon icon-align-left" data-icon-name="icon-align-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-align-center" data-icon-name="icon-align-center"></span></a>
<a class="display-icon-container"><span class="display-icon icon-align-right" data-icon-name="icon-align-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-align-justify" data-icon-name="icon-align-justify"></span></a>
<a class="display-icon-container"><span class="display-icon icon-indent-left" data-icon-name="icon-indent-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-indent-right" data-icon-name="icon-indent-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-font" data-icon-name="icon-font"></span></a>
<a class="display-icon-container"><span class="display-icon icon-bold" data-icon-name="icon-bold"></span></a>
<a class="display-icon-container"><span class="display-icon icon-italic" data-icon-name="icon-italic"></span></a>
<a class="display-icon-container"><span class="display-icon icon-strikethrough" data-icon-name="icon-strikethrough"></span></a>
<a class="display-icon-container"><span class="display-icon icon-underline" data-icon-name="icon-underline"></span></a>
<a class="display-icon-container"><span class="display-icon icon-superscript" data-icon-name="icon-superscript"></span></a>
<a class="display-icon-container"><span class="display-icon icon-subscript" data-icon-name="icon-subscript"></span></a>
<a class="display-icon-container"><span class="display-icon icon-link" data-icon-name="icon-link"></span></a>
<a class="display-icon-container"><span class="display-icon icon-unlink" data-icon-name="icon-unlink"></span></a>
<a class="display-icon-container"><span class="display-icon icon-paper-clip" data-icon-name="icon-paper-clip"></span></a>
<a class="display-icon-container"><span class="display-icon icon-eraser" data-icon-name="icon-eraser"></span></a>
<a class="display-icon-container"><span class="display-icon icon-columns" data-icon-name="icon-columns"></span></a>
<a class="display-icon-container"><span class="display-icon icon-table" data-icon-name="icon-table"></span></a>
<a class="display-icon-container"><span class="display-icon icon-th-large" data-icon-name="icon-th-large"></span></a>
<a class="display-icon-container"><span class="display-icon icon-th" data-icon-name="icon-th"></span></a>
<a class="display-icon-container"><span class="display-icon icon-th-list" data-icon-name="icon-th-list"></span></a>
<a class="display-icon-container"><span class="display-icon icon-list" data-icon-name="icon-list"></span></a>
<a class="display-icon-container"><span class="display-icon icon-list-ol" data-icon-name="icon-list-ol"></span></a>
<a class="display-icon-container"><span class="display-icon icon-list-ul" data-icon-name="icon-list-ul"></span></a>
<a class="display-icon-container"><span class="display-icon icon-list-alt" data-icon-name="icon-list-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-angle-left" data-icon-name="icon-angle-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-angle-right" data-icon-name="icon-angle-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-angle-up" data-icon-name="icon-angle-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-angle-down" data-icon-name="icon-angle-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-arrow-down" data-icon-name="icon-arrow-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-arrow-left" data-icon-name="icon-arrow-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-arrow-right" data-icon-name="icon-arrow-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-arrow-up" data-icon-name="icon-arrow-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-caret-down" data-icon-name="icon-caret-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-caret-left" data-icon-name="icon-caret-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-caret-right" data-icon-name="icon-caret-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-caret-up" data-icon-name="icon-caret-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-down" data-icon-name="icon-chevron-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-left" data-icon-name="icon-chevron-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-right" data-icon-name="icon-chevron-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-up" data-icon-name="icon-chevron-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-sign-left" data-icon-name="icon-chevron-sign-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-sign-right" data-icon-name="icon-chevron-sign-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-sign-up" data-icon-name="icon-chevron-sign-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-chevron-sign-down" data-icon-name="icon-chevron-sign-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-circle-arrow-down" data-icon-name="icon-circle-arrow-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-circle-arrow-left" data-icon-name="icon-circle-arrow-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-circle-arrow-right" data-icon-name="icon-circle-arrow-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-circle-arrow-up" data-icon-name="icon-circle-arrow-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-double-angle-left" data-icon-name="icon-double-angle-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-double-angle-right" data-icon-name="icon-double-angle-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-double-angle-up" data-icon-name="icon-double-angle-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-double-angle-down" data-icon-name="icon-double-angle-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-hand-down" data-icon-name="icon-hand-down"></span></a>
<a class="display-icon-container"><span class="display-icon icon-hand-left" data-icon-name="icon-hand-left"></span></a>
<a class="display-icon-container"><span class="display-icon icon-hand-right" data-icon-name="icon-hand-right"></span></a>
<a class="display-icon-container"><span class="display-icon icon-hand-up" data-icon-name="icon-hand-up"></span></a>
<a class="display-icon-container"><span class="display-icon icon-play-circle" data-icon-name="icon-play-circle"></span></a>
<a class="display-icon-container"><span class="display-icon icon-play-sign" data-icon-name="icon-play-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-play" data-icon-name="icon-play"></span></a>
<a class="display-icon-container"><span class="display-icon icon-pause" data-icon-name="icon-pause"></span></a>
<a class="display-icon-container"><span class="display-icon icon-stop" data-icon-name="icon-stop"></span></a>
<a class="display-icon-container"><span class="display-icon icon-eject" data-icon-name="icon-eject"></span></a>
<a class="display-icon-container"><span class="display-icon icon-backward" data-icon-name="icon-backward"></span></a>
<a class="display-icon-container"><span class="display-icon icon-forward" data-icon-name="icon-forward"></span></a>
<a class="display-icon-container"><span class="display-icon icon-fast-backward" data-icon-name="icon-fast-backward"></span></a>
<a class="display-icon-container"><span class="display-icon icon-fast-forward" data-icon-name="icon-fast-forward"></span></a>
<a class="display-icon-container"><span class="display-icon icon-step-backward" data-icon-name="icon-step-backward"></span></a>
<a class="display-icon-container"><span class="display-icon icon-step-forward" data-icon-name="icon-step-forward"></span></a>
<a class="display-icon-container"><span class="display-icon icon-fullscreen" data-icon-name="icon-fullscreen"></span></a>
<a class="display-icon-container"><span class="display-icon icon-resize-full" data-icon-name="icon-resize-full"></span></a>
<a class="display-icon-container"><span class="display-icon icon-resize-small" data-icon-name="icon-resize-small"></span></a>
<a class="display-icon-container"><span class="display-icon icon-css3" data-icon-name="icon-css3"></span></a>
<a class="display-icon-container"><span class="display-icon icon-facebook" data-icon-name="icon-facebook"></span></a>
<a class="display-icon-container"><span class="display-icon icon-facebook-sign" data-icon-name="icon-facebook-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-twitter" data-icon-name="icon-twitter"></span></a>
<a class="display-icon-container"><span class="display-icon icon-twitter-sign" data-icon-name="icon-twitter-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-github" data-icon-name="icon-github"></span></a>
<a class="display-icon-container"><span class="display-icon icon-github-sign" data-icon-name="icon-github-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-html5" data-icon-name="icon-html5"></span></a>
<a class="display-icon-container"><span class="display-icon icon-linkedin" data-icon-name="icon-linkedin"></span></a>
<a class="display-icon-container"><span class="display-icon icon-linkedin-sign" data-icon-name="icon-linkedin-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-maxcdn" data-icon-name="icon-maxcdn"></span></a>
<a class="display-icon-container"><span class="display-icon icon-pinterest" data-icon-name="icon-pinterest"></span></a>
<a class="display-icon-container"><span class="display-icon icon-pinterest-sign" data-icon-name="icon-pinterest-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-google-plus" data-icon-name="icon-google-plus"></span></a>
<a class="display-icon-container"><span class="display-icon icon-google-plus-sign" data-icon-name="icon-google-plus-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-ambulance" data-icon-name="icon-ambulance"></span></a>
<a class="display-icon-container"><span class="display-icon icon-beaker" data-icon-name="icon-beaker"></span></a>
<a class="display-icon-container"><span class="display-icon icon-h-sign" data-icon-name="icon-h-sign"></span></a>
<a class="display-icon-container"><span class="display-icon icon-hospital" data-icon-name="icon-hospital"></span></a>
<a class="display-icon-container"><span class="display-icon icon-medkit" data-icon-name="icon-medkit"></span></a>
<a class="display-icon-container"><span class="display-icon icon-plus-sign-alt" data-icon-name="icon-plus-sign-alt"></span></a>
<a class="display-icon-container"><span class="display-icon icon-stethoscope" data-icon-name="icon-stethoscope"></span></a>
<a class="display-icon-container"><span class="display-icon icon-user-md" data-icon-name="icon-user-md"></span></a>
<a class="display-icon-container"><span class="display-icon icon-flag" data-icon-name="icon-flag"></span></a>
<a class="display-icon-container"><span class="display-icon icon-maxcdn" data-icon-name="icon-maxcdn"></span></a>
		</div>
	</div>
</div>