<div class="container">
	<div class="row">
		<div class="span5" id="pane-left">
			<div id="iPhone" class="iPhone">
				<div id="phoneScreen">
					<!-- <div class="control control-switch">
						<span class="icon-off"></span>
						<p class="control-name">The Switch</p>
						<p class="control-description">Turn things on and off.</p>
					</div>
					<div class="control control-accelerometer">
						<span class="icon-refresh"></span>
						<p class="control-name">The Accelerometer</p>
						<p class="control-description">Know which way is up.</p>
					</div>
					<div class="control control-touchpad">
						<span class="icon-music"></span>
						<p class="control-name">The Touchpad</p>
						<p class="control-description">Drag to control.</p>
					</div>
					<div class="control control-button">
						<span class="icon-eye-open"></span>
						<p class="control-name">The Button</p>
						<p class="control-description">Push it real good.</p>
					</div> -->
				</div>
			</div>
		</div>
		<div class="span8" id="pane-right">
			<h1 class="landing">Awesome controls for your Electric Imp.</h1>
			<h2 class="landing">Buttons, dials, touchpads, and accelerometers.</h2>
			<h2>Mobile and desktop friendly. Hosted for free.</h2>
			<a id="get-started" class="button-green">Get Started</a>
		</div>
	</div>
</div>